html,body{
  border:0;
  margin:0;
  padding:0;
}
body{
  background:#ccc;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:normal;
}
.container{
  margin:0 auto;
  max-width:1000px;
  padding:0 20px;
}
nav{
  background:#999;
}
nav ul, nav li{
  margin:0;
  list-style:none;
  padding:0;
}
nav li{
  display:inline-block;
}
nav li a{
  color:#fff;
  display:inline-block;
  padding:8px 15px;
  text-decoration:none;
}
nav li:first-child a{
  padding-left:0;
}