html,body,h1,h2,h3,h4,h5,h6,p{
  border:0;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:300;
  margin:10px;
  padding:0;
}
body{
  font-size:1.1em;
  line-height:1.7em;
}
a{
  text-decoration:none;
}
body{
  background:#fbfbfb;
  padding:20px;
}
nav h1 a{
  color:#555;
  float:left;
  margin:5px 0 0 180px;
  font-size:2em;
  font-variant:small-caps;
  letter-spacing:5px;
  line-height:0;
}
.container{
  margin:0 auto;
  max-width:1000px;
}
nav, footer{
  margin:15px 0;
  text-align:right;
  width:100%;
}
nav ul, nav li, footer ul, footer li{
  list-style:none;
  margin:0;
  padding:0;
}
nav li, footer li{
  display:inline-block;
  letter-spacing:3px;
}
nav li a, footer li a{
  color:#555;
  font-size:20px;
  opacity: 0.7;
  padding:8px 20px;
  text-decoration:none;
}
nav li a:hover, footer li a:hover{
  opacity:1.0;
}
nav li.sel a{
  color:#555;
  font-weight:500;
  opacity:1.0;
  padding:8px 18px;
}
nav li:last-child a,footer li:last-child a{
  padding-right:0;
}
.content{
  border:2px solid #8881cf;
  border-radius:10px;
  clear:both;
  min-height:500px;
  padding:15px 25px;
  position:relative;
}

.selfie{
  background:url(../images/waldo.jpg) no-repeat 0 -85px;
  background-size:112%;
  border-radius:50%;
  box-sizing:border-box;
  float:left;
  height:200px;
  margin:-70px 35px 0 -70px;
  position:relative;
  transition:1s;
  width:200px;
  shape-outside:border-box circle(50%);
  shape-margin:20px;
}
.selfie:hover{
  -webkit-transform:rotate(-180deg);
  transform:rotate(-180deg);
  transition:1s;
}
.selfie a{
  display:block;
  height:100%;
  width:100%;
}
.blurb{
  color:#999;
  font-size:32px;
  left:50%;
  line-height:44px;
  margin:0 auto;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  width:76%;
}
.blurb .name{
  color:#666;
  display:block;
  float:right;
  margin-top:20px;
}

.content p {

}